QMainWindow {
    background-color: #252526;
}

QListWidget {
    background-color: #1e1e1e;
    color: #d4d4d4;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
}

QPushButton {
    background-color: #0078d4;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

QPushButton:hover {
    background-color: #106ebe;
}

QLineEdit {
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    padding: 8px;
}